name: Docker Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: gdpr-scorer:test
          load: true
          push: false
      
      - name: Test container starts
        run: |
          docker run --name gdpr-test -d -p 8501:8501 gdpr-scorer:test
          sleep 10
          docker ps -a
          docker logs gdpr-test
          docker stop gdpr-test
          docker rm gdpr-test
